<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front Desk</title>
    <link rel="stylesheet" href="/public/css/front-desk.css">
</head>
<body>
    <div class="main-page-container">
        <p class="fd-p">Front Desk<span id="modeDisplay"></span></p>
    </div>
    <!-- Container to display loaded data -->
    <div id="sessionContainer">
        
    </div>
    
  

    <h2>Add New Race</h2>
    <form id="addRaceForm">
       

        <label for="flagState">Flag State:</label>
        <select id="flagState" name="flagState">
     
            <option value="Danger">Danger</option>
       

        </select><br><br>

        <label for="raceState">Race State:</label>
        <select id="raceState" name="raceState">
            <option value="Upcoming">Upcoming</option>
            
         
        </select><br><br>

        

        <button type="submit">Add Race</button>
    </form>
  

    <div id="accessKeyModal" class="modal-verification">
        <div class="modal-content-verification">
          <p>Please enter the access key:</p>
          <input type="password" id="accessKeyInput">
          <button id="submitKeyButton">Submit</button>
        </div>
      </div>
     
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/front-desk.js"></script>
   
</body>
</html>