<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <div class="main-page-container">
        <h1>Choose an Interface</h1>
        <div class="main-links">
            <a href="/race-control">Race Control (SO)</a>
            <a href="/front-desk">Front Desk (RCN)</a>
            <a href="/next-race">Next Race (RCD)</a>
            <a href="/race-countdown">Race Countdown (RCD)</a>
            <a href="/race-flags">Race Flags (RCD)</a>
            <a href="/lap-line-tracker">Lap Line Tracker (LLO)</a>
            <a href="/leader-board">Leaderboard (Spec)</a>
        </div>
    </div>
</body>
</html>
