<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lap Line Observer</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="icon" type="image/x-icon" href="public/images/favicon.ico">
</head>
<body>
    
    <div id="tracker-master-container">
        <p class="widget-title">Lap Line Observer</p>
    </div>
    <div id="tracker-container">
        
    </div>

    <div id="accessKeyModal" class="modal-verification">
        <div class="modal-content-verification">
          <p>Please enter the access key:</p>
          <input type="password" id="accessKeyInput">
          <button id="submitKeyButton">Submit</button>
        </div>
      </div>

   
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/lap-line-tracker.js"></script>
   
</body>
</html>