<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lap Line Observer</title>
    <link rel="stylesheet" href="/public/css/lap-line-tracker.css">
</head>
<body>
    
    <div id="tracker-master-container">
        <p class="widget-title">Lap Line Observer</p>
    </div>
    <div id="tracker-container">
        
    </div>

   

   
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/lap-line-tracker.js"></script>
   
</body>
</html>