<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Race Control</title>
    <link rel="stylesheet" href="/public/css/race-control.css">

  </head>
  <body>
    <div class="main-page-container">
      <h1>Race Mode Buttons</h1>
      <button id="safeBtn">Safe</button>
      <button id="hazardBtn">Hazard</button>
      <button id="dangerBtn">Danger</button>
      <button id="finishBtn">Finish</button>
      <p>Current mode: <span id="modeDisplay"></span></p>
  </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/race-control.js"></script>


  </body>
</html>