<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Race Control</title>
  <link rel="stylesheet" href="/public/css/race-control.css">
  <link rel="icon" type="image/x-icon" href="public/images/favicon.ico">
</head>

<body>
  <div class="main-page-container">
    <p class="rc-p">Race Control</p>
</div>
  <div class="race-mode-container" style="display: none;">
    <h2>Race Mode Buttons</h2>
    <!--
    <button id="safeBtn" data-state="Safe" class="modeBtn">Safe</button>
<button id="hazardBtn" data-state="Hazard" class="modeBtn">Hazard</button>
<button id="dangerBtn" data-state="Danger" class="modeBtn">Danger</button>
<button id="finishBtn" data-state="Finish" class="modeBtn">Finish</button>
    -->
    <p>Current mode: <span id="modeDisplay"></span></p>
  </div>

  <div class="end-race-container" style="display: none;">
    <h2>End race session</h2>
    <button id="endBtn">End Race</button>
  </div>

  <div class="table-container">
    <h2 id="table-title">Drivers</h2>
    <table id="drivers-table">
      <tr>
        <th>Car</th>
        <th>Driver</th>
      </tr>
      <tr>
        <td>1</td>
        <td id="driver1"></td>
      </tr>
      <tr>
        <td>2</td>
        <td id="driver2"></td>
      </tr>
      <tr>
        <td>3</td>
        <td id="driver3"></td>
      </tr>
      <tr>
        <td>4</td>
        <td id="driver4"></td>
      </tr>
      <tr>
        <td>5</td>
        <td id="driver5"></td>
      </tr>
      <tr>
        <td>6</td>
        <td id="driver6"></td>
      </tr>
      <tr>
        <td>7</td>
        <td id="driver7"></td>
      </tr>
      <tr>
        <td>8</td>
        <td id="driver8"></td>
      </tr>
    </table>
</div>
  <div class="start-container">
    <h3 id="start-title">Start race</h3>
    <button id="startBtn">Start</button>
  </div>

  <div id="accessKeyModal" class="modal-verification">
    <div class="modal-content-verification">
      <p id="error-message" style="color: red;"></p>
      <p>Please enter the access key:</p>
      <input type="password" id="accessKeyInput">
      <button id="submitKeyButton">Submit</button>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/race-control-new.js"></script>


</body>

</html>