.flag-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.white {
  height: 12.5vh;
  width: 12.5vw;
  background-color: white;
}

.black {
  height: 12.5vh;
  width: 12.5vw;
  background-color: black;
} 