@font-face {
    font-family: 'Race Sport';
    src: url('../fonts/RaceSportRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/RaceSportRegular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/RaceSportRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/RaceSportRegular.svg#RaceSportRegular') format('svg'); /* Legacy iOS */
}



/* General styles for the page */
body {
    font-family: 'Race Sport';
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

/* Container for the main content */
.main-page-container {
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Ensures it stays on top */
}

.main-page-container .fd-p {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

/* Styling for the session container */
#sessionContainer {
    margin: 20px 0;
    margin-top: 150px;
}

/* Race container styling */
.race {
    background-color: #e9ecef;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.race h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.race p {
    margin: 5px 0;
}

.race ul {
    padding: 0;
    list-style-type: none;
}

.race li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.race li .details {
    flex-grow: 1;
}

.race li .actions {
    display: flex;
    gap: 5px;
}

/* Button styling */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007bff;
    color: #fff;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.add-racer-button {
    background-color: #28a745;
    color: #fff;
    width: 150px; /* Increased width for bigger buttons */
    height: 50px; /* Increased height for bigger buttons */
    font-size: 12px; /* Increased font size for better readability */
    font-family: 'Race Sport';
}

.delete-button, .delete-racer-btn {
    background-color: #dc3545;
    color: #fff;
    width: 150px; /* Increased width for bigger buttons */
    height: 50px; /* Increased height for bigger buttons */
    font-size: 12px; /* Increased font size for better readability */
    font-family: 'Race Sport';
}

.edit-racer-btn {
    background-color: #ffc107;
    color: #fff;
    width: 150px; /* Increased width for bigger buttons */
    height: 50px; /* Increased height for bigger buttons */
    font-size: 12px; /* Increased font size for better readability */
    font-family: 'Race Sport';
}

/* Add Race Form Styling */
#addRaceForm {
    margin: 20px 0;
}

#addRaceForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#addRaceForm input, #addRaceForm select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addRaceForm button {
    background-color: #007bff;
    color: #fff;
    width: 150px; /* Increased width for bigger buttons */
    height: 50px; /* Increased height for bigger buttons */
    font-size: 12px; /* Increased font size for better readability */
    font-family: 'Race Sport';
}

/* Racer Form Container Styling */
.racerFormContainer {
    background-color: #f8f9fa;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.racerFormContainer form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.racerFormContainer label {
    margin-top: 10px;
}

.racerFormContainer input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.racerFormContainer button {
    align-self: flex-start;
    color: #fff;
    width: 150px; /* Increased width for bigger buttons */
    height: 50px; /* Increased height for bigger buttons */
    font-size: 12px; /* Increased font size for better readability */
    font-family: 'Race Sport';
}
/* Inline styling for buttons in racerFormContainer */
.racerFormContainer button {
    display: inline-block;
    margin-right: 10px; /* Add margin between buttons */
}

/* Different colors for buttons in racerFormContainer */
.racerFormContainer button#assignCarManuallyButton {
    background-color: #ffc107; /* Yellow */
    color: #fff;
    margin-top: 20px;
}

.racerFormContainer button[type="submit"] {
    background-color: #007bff; /* Blue */
    color: #fff;
    margin-top: 10px;
}

.cancelButton {
    background-color: #dc3545; /* Red */
    color: #fff;
    margin-top: 10px;
}
/* Modal Styling for Edit Racer */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

.modal h3 {
    margin-top: 0;
}

.modal input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal button {
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal button:hover {
    background-color: #007bff;
    color: #fff;
}

.modal button#saveEditBtn {
    background-color: #28a745;
    color: #fff;
    width: 150px; /* Increased width for bigger buttons */
    height: 50px; /* Increased height for bigger buttons */
    font-size: 12px; /* Increased font size for better readability */
    font-family: 'Race Sport';
}

.modal button#cancelEditBtn {
    background-color: #dc3545;
    color: #fff;
    width: 150px; /* Increased width for bigger buttons */
    height: 50px; /* Increased height for bigger buttons */
    font-size: 12px; /* Increased font size for better readability */
    font-family: 'Race Sport';
}




/* Modal verification styles */
.modal-verification {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content-verification {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
  }
  
  #submitKeyButton{
    
    font-size: 16px; /* Increased font size for better readability */
    font-family: 'Race Sport';
  }

  #accessKeyInput{
    font-size: 21px; /* Increased font size for better readability */
    font-family: 'Race Sport';
  }
  .blur-content > :not(.modal-verification):not(.modal-verification *) {
    filter: blur(5px);
}


/* Media query for small screens */
@media (max-width: 800px) {
    .modal-content-verification {
        width: 80%;
        margin: 20% auto;
    }

    #submitKeyButton {
        font-size: 14px;
    }

    #accessKeyInput {
        font-size: 18px;
    }
}