@font-face {
    font-family: 'Race Sport';
    src: url('../fonts/RaceSportRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/RaceSportRegular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/RaceSportRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/RaceSportRegular.svg#RaceSportRegular') format('svg'); /* Legacy iOS */
}

/* Styling for body */
body {
    
    font-family: 'Race Sport';
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set full viewport height */
}

.main-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set full viewport height */
}

/* Center the links vertically and horizontally */
.main-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Set height to 100% */
}

/* Style for links */
.main-links a {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    margin: 10px; /* Add margin between links */
    text-decoration: none; /* Remove default underline */
    color: #fff; /* Text color */
    background-color: #007bff; /* Blue color */
    border: 1px solid #007bff; /* Blue border */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    font-size: 36px;
    font-weight: 1000;
    color: #ffffff; /* White text color to contrast with the background */
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
}

/* Hover effect */
.main-links a:hover {
    background-color: #0056b3; /* Darker blue on hover */
    border-color: #0056b3; /* Darker blue border on hover */
}
