body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.main-page-container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #333;
}

.main-links {
    margin-top: 20px;
}

.main-links a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.main-links a:hover {
    background-color: #0056b3;
}



#safeBtn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

#hazardBtn {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

#dangerBtn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

#finishBtn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
}


.fd-p {
    margin: 20px 0;
}

#modeDisplay {
    font-weight: bold; 
    color: #007bff; 
}