body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.main-page-container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #333;
}

.main-links {
    margin-top: 20px;
}

.main-links a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.main-links a:hover {
    background-color: #0056b3;
}



.fd-p {
    margin: 20px 0;
}

#modeDisplay {
    font-weight: bold; 
    color: #007bff; 
}

/* CSS Style for Race Elements */
.race {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.race h2 {
    margin-top: 0;
}

.race p {
    margin: 5px 0;
}

.race ul {
    list-style-type: none;
    padding: 0;
}

.race li {
    margin-left: 20px;
}


/*edit modal*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure modal is on top of other content */
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
